<header class="col-lg-12 header">
    <!-- <img src="{{Imageheader}}" alt=""> -->
    <p>Julián Camilo Sánchez Díaz</p>
</header>

<div class="container-fluid">
  <div class="fondo-menu">
    <div class="row">
      <div class="overlay-white"></div>
      <div class="navbarHome">
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
          <div>
            <i class="userHome fas fa-user-tie"></i>
          </div>
          <div class="slider">
            <ul>
              <li>
                <p class="spanLoginUsuario">Bienvenido: Julián</p>
              </li>
            </ul>
          </div>
          </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 navMenu">
        <ul id="navigationMenu" class="mt-5">
          <li>
            <a class="normalOption">
              <i class="normalOptionIcon icon-home-account"></i>
              <span>Home</span>
            </a>
          </li>
         
          
        </ul>
      </div>

      <div class="col-lg-11 mt-4">

        
        <app-usuarios></app-usuarios>
       
        
        <!-- <div class="form-group" *ngIf="nombreFormulario == 'app-home'">          
          <br />
          <h1>Bienvenido</h1>
          <br />
          <h3>Para comenzar, selecciona una opción.</h3>
        </div> -->

      </div>
      
    </div>
  </div>
</div>
